[Desktop Entry]
Comment=
Exec=ksystraycmd gnome-control-center online-accounts\n
GenericName=Online account manager for Evolution
Icon=goa-account-pocket
Name=Gnome Online Accounts
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
