#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=JSON Editor
Exec=/usr/lib64/chromium/chromium --profile-directory=Default --app-id=lhkmoheomjbkfloacpgllgjcamhihfaj
Icon=chrome-lhkmoheomjbkfloacpgllgjcamhihfaj-Default
StartupWMClass=crx_lhkmoheomjbkfloacpgllgjcamhihfaj
