"*":
  "atom-material-ui":
    fonts: {}
    tabs: {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave:
    enabled: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "docblock-format-helper"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  docblockr:
    param_description: false
    return_description: false
  editor:
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "91a1d891-dc5e-9ff8-c930-bea26cf503b8"
  "file-icons":
    coloured: false
    onChanges: true
    tabPaneIcon: false
  "git-plus": {}
  "info-comment": {}
  minimap: {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
    removeTrailingWhitespace: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".erb.html.text":
  editor:
    tabLength: 2
".html.ruby.text":
  editor:
    tabLength: 2
".js.rails.source source.jquery.js":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
