[Desktop Entry]
Icon=text-plain
Name=missing_packages.txt
Type=Link
URL[$e]=file://$HOME/Documents/opensuse_setup/missing_packages.txt
X-KDE-LastOpenedWith=kate
