[Desktop Entry]
Name[de]=Redshift
Comment[fr]=Outil de réglage de la température de couleur
GenericName[it]=Regolazione della temperatura del colore
Comment[es]=Herramienta para el ajuste de la temperatura de color
Name[lt]=Redshift
Comment=Color temperature adjustment tool
GenericName[da]=Justering af farvetemperatur
Comment[hu]=Színhőmérséklet beállító eszköz
GenericName[zh_CN]=色温调节
Categories=Utility;GTK;X-SuSE-DesktopUtility;
Exec=redshift-gtk
GenericName[tr]=Renk sıcaklığı ayarı
StartupNotify=true
GenericName[cs]=Přizpůsobení barevné teploty
Comment[de]=Farbtemperatur Anpassungswerkzeug
Name[hu]=Redshift
Name[tr]=Redshift
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName=Color temperature adjustment
Name[pl]=Redshift
Name[ru]=Redshift
Name[zh_CN]=红移
Name=Redshift
GenericName[ru]=Настройка цветовой температуры
Version=1.0
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Name[pt_BR]=Redshift
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[it]=Strumento per la regolazione della temperatura del colore
GenericName[es]=Ajuste de la temperatura de color
Name[it]=Redshift
GenericName[hu]=Szín hőmérséklet beállítás
Terminal=false
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Comment[zh_CN]=色温调节工具
X-GNOME-Autostart-enabled=true
GenericName[nl]=Kleurtemperatuur aanpassing
Icon=redshift
Comment[ru]=Инструмент регулирования цветовой температуры
Name[fr]=Redshift
GenericName[de]=Farbtemperatur Anpassung
GenericName[pl]=Dostosowanie temperatury barwowej
Hidden=false
GenericName[fr]=Réglage de la température de couleur
GenericName[lt]=Spalvos temperatūros reguliavimas
Name[es]=Redshift
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Type=Application
Comment[da]=Justeringsværktøj for farvetemperatur

