[Desktop Entry]
GenericName[it]=Regolazione della temperatura del colore
GenericName[hu]=Szín hőmérséklet beállítás
Name[de]=Redshift
GenericName[es]=Ajuste de la temperatura de color
Type=Application
GenericName[cs]=Přizpůsobení barevné teploty
Comment[da]=Justeringsværktøj for farvetemperatur
Name[hu]=Redshift
Name[it]=Redshift
Comment[fr]=Outil de réglage de la température de couleur
Icon=redshift
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[es]=Herramienta para el ajuste de la temperatura de color
StartupNotify=true
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
GenericName[nl]=Kleurtemperatuur aanpassing
Name=Redshift
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Name[pt_BR]=Redshift
Comment=Color temperature adjustment tool
Name[pl]=Redshift
Comment[tr]=Renk sıcaklığı ayarlama aracı
Categories=Utility;GTK;X-SuSE-DesktopUtility;
GenericName[de]=Farbtemperatur Anpassung
Name[zh_CN]=红移
X-GNOME-Autostart-enabled=true
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[hu]=Színhőmérséklet beállító eszköz
Comment[de]=Farbtemperatur Anpassungswerkzeug
Name[fr]=Redshift
GenericName[lt]=Spalvos temperatūros reguliavimas
GenericName[fr]=Réglage de la température de couleur
GenericName[tr]=Renk sıcaklığı ayarı
GenericName[da]=Justering af farvetemperatur
Exec=redshift-gtk
Version=1.0
GenericName=Color temperature adjustment
Comment[it]=Strumento per la regolazione della temperatura del colore
GenericName[ru]=Настройка цветовой температуры
Name[lt]=Redshift
Name[es]=Redshift
Name[tr]=Redshift
Hidden=false
Name[ru]=Redshift
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[zh_CN]=色温调节工具
GenericName[zh_CN]=色温调节
Terminal=false

