#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Slides
Exec=/usr/lib64/chromium/chromium --profile-directory=Default --app-id=aapocclcgogkmnckokdopfmhonfmgoek
Icon=$HOME/.local/share/applications/google_slides.png
StartupWMClass=crx_aapocclcgogkmnckokdopfmhonfmgoek
