#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Keep - notes and lists
Exec=/usr/lib64/chromium/chromium --profile-directory=Default --app-id=hmjkmjkepdijhoojdojkdfohbdgmmhki
Icon=$HOME/.local/share/applications/google_keep.png
StartupWMClass=crx_hmjkmjkepdijhoojdojkdfohbdgmmhki
