[Desktop Entry]
Icon=text-plain
Name=Android-studio.txt
Type=Link
URL[$e]=file://$HOME/Documents/opensuse_setup/Android-studio.txt
X-KDE-LastOpenedWith=org.kde.kate
