[Desktop Entry]
Icon=image-jpeg
Name=DanceOfTheSpirits.jpg
Type=Link
URL[$e]=file:///usr/share/DanceOfTheSpirits.jpg
X-KDE-LastOpenedWith=plasmashell
