[Desktop Entry]
Icon=image-jpeg
Name=fqopF9w.jpg
Type=Link
URL[$e]=file://$HOME/openSUSE_setup/KDE/wallpapers/fqopF9w.jpg
X-KDE-LastOpenedWith=gwenview
