[Desktop Entry]
Icon=image-jpeg
Name=jRr5Rbx.jpg
Type=Link
URL[$e]=file://$HOME/openSUSE_setup/KDE/wallpapers/jRr5Rbx.jpg
X-KDE-LastOpenedWith=gwenview
