[Desktop Entry]
Icon=application-x-shellscript
Name=set-configs.sh
Type=Link
URL[$e]=file://$HOME/openSUSE_setup/GNOME/set-configs.sh
X-KDE-LastOpenedWith=org.kde.kate
