[Desktop Entry]
Icon=application-x-shellscript
Name=setup.sh
Type=Link
URL[$e]=file://$HOME/openSUSE_setup/KDE/setup.sh
X-KDE-LastOpenedWith=org.kde.kate
