[Desktop Entry]
Icon=application-x-rpm
Name=synology-cloud-station-3.2-3497.x86_64.rpm
Type=Link
URL[$e]=file://$HOME/Downloads/synology-cloud-station-3.2-3497.x86_64.rpm
X-KDE-LastOpenedWith=org
