"*":
  "atom-material-ui":
    fonts:
      fontSize: "Big"
      useRoboto: true
    tabs:
      tabMinWidth: true
      tabSize: "Big"
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "docblock-format-helper"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  docblockr: {}
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "91a1d891-dc5e-9ff8-c930-bea26cf503b8"
  "git-plus": {}
  "info-comment": {}
  minimap:
    absoluteMode: true
  welcome:
    showOnStartup: false
